2.1 使用第一個Angular Material元件 - button directive
<div><button>Hello World!</button></div>
<div><button mat-button>Hello World!</button></div>
<div><button mat-raised-button color="primary">Hello World！</button></div>
<p></p>

3.1 嘗試加入一個簡單的Material Icon
<div>
  Hello, 您登入的使用者帳號為<i class="material-icons">person</i>: WEIHSU
</div>
<p></p>

3.2 改以MatIcon元件的方式加入Material Icon
<div>Hello, 您登入的使用者帳號為<mat-icon>person</mat-icon>: WEIHSU</div>
<p></p>

3.3 替Material Icon加上不同的顏色
<div>
  這是一般的ICON顏色
  <mat-icon>person</mat-icon>
</div>
<div>
  這是加上primary顏色的ICON
  <mat-icon color="primary">person</mat-icon>
  <mat-icon color="primary">thumb_up</mat-icon>
</div>
<div>
  這是加上accent顏色的ICON
  <mat-icon color="accent">person</mat-icon>
  <mat-icon color="accent">info</mat-icon>
</div>
<div>
  這是加上warn顏色的ICON
  <mat-icon color="warn">person</mat-icon>
  <mat-icon color="warn">warning</mat-icon>
</div>
<p></p>

<router-outlet></router-outlet>
